# Шаблон настроек для Obsidian Conflict Party Bundle
# Переименуйте этот файл в .env и заполните своими данными

RCON_PASSWORD=введите_сюда_ваш_пароль
DISCORD_TOKEN=введите_сюда_токен_дискорд_бота
SERVER_IP=ip_addr